<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RestfulLogin.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF9012DA278FB31C0039025F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF9012F0278FB31E0039025F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF9012FA278FB31E0039025F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
